<h3>Student Form</h3>
<%= form_tag activate_student_path do %>
<label for="">First Name:</label><br>
<%= text_field_tag :'student[first_name]' %><br>
<label for="">Last Name:</label><br>
<%= text_field_tag :'student[last_name]' %><br>
<%= submit_tag 'Submit Student' %>
<% end %>
