<!-- <form action="/students/@student.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
 <input type="radio" name="active" value="true" <'checked' if @student.active%>Active<br>
<input type="radio" name="active" value="false" <'checked' if !@student.active%>> Inactive<br>
<input type="submit" value="Edit Active Status">
</form>
-->

<!--< form_tag("/students/#{@student.id}", method: "patch") do%>-->
